# Ignorar el entorno virtual
entorno_venv/

# Ignorar archivos de configuración sensibles
.env


# Ignorar archivos temporales
__pycache__/
*.pyc
*.pyo

# Ignorar archivos y carpetas no deseados
.DS_Store
entorno_venv/
.code-workspace/
.code-workspace
conecta.py
datasets/ecommerce_board.csv
datasets/ecommerce2.ipynb
datasets/ecommerce_raw.csv
datasets/precios-costos.csv
datasets/products.csv
datasets/ecommerce.csv	
.ipybn_checkpoints/
dashboard.py
table_stands.py
table_products.py
entorno_venv.code-workspace